	<!-- Banner Section -->
<section class="banner-section">
	<div class="pattern-layer" style="background-image: url(images/background/1.png)"></div>
	<div class="auto-container">

		<!-- Content Boxed -->
		<div class="content-boxed">
			<div class="inner-column">
				<h1>از مدرسان ما ریاضی ، علوم ، انگلیسی <br> و آمادگی آزمون را بیاموزید</h1>
				<div class="buttons-box">
					<a href="course.html" class="theme-btn btn-style-one"><span class="txt">شروع کنید <i class="fa fa-angle-left"></i></span></a>
					<a href="course.html" class="theme-btn btn-style-two"><span class="txt">تمام دوره ها <i class="fa fa-angle-left"></i></span></a>
				</div>
			</div>
		</div>

		<!-- Image Boxed -->
		<div class="image titlt" data-tilt data-tilt-max="4">
			<a href="images/resource/banner.png" data-fancybox="banner" data-caption="" class=""><img src="images/resource/banner.png" alt="" /></a>
		</div>

		<!-- Search Boxed -->
		<div class="search-boxed">
			<div class="search-box">
				<form method="post" action="contact.html">
					<div class="form-group">
						<input type="search" name="search-field" value="" placeholder="چه چیز را میخواهی یاد بگیری؟" required>
						<button type="submit"><span class="icon fa fa-search"></span></button>
					</div>
				</form>
			</div>
		</div>

	</div>
</section>
<!-- End Banner Section -->
<!-- Education Section -->
<section class="education-section">
	<div class="patern-layer-one paroller" data-paroller-factor="0.60" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image: url(images/icons/icon-1.png)"></div>
	<div class="patern-layer-two paroller" data-paroller-factor="0.60" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image: url(images/icons/icon-2.png)"></div>
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Image Column -->
			<div class="image-column col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column parallax-scene-1">
					<div class="image parallax-layer" data-depth="0.30">
						<img src="images/resource/education.png" alt="" />
					</div>
				</div>
			</div>

			<!-- Content Column -->
			<div class="content-column col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column">
					<h2>سیستم آموزشی ما <br> برای شما کار می کند</h2>
					<div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</div>
					<a href="course.html" class="theme-btn btn-style-two"><span class="txt">بیشتر <i class="fa fa-angle-left"></i></span></a>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Education Section -->
<!-- Courses Section -->
<section class="courses-section">
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Title Column -->
			<div class="title-column col-lg-4 col-md-12 col-sm-12">
				<div class="inner-column">
					<!-- Sec Title -->
					<div class="sec-title">
						<h2>دوره های برتر ما</h2>
						<div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</div>
					</div>
					<a href="course.html" class="theme-btn btn-style-three"><span class="txt">شروع کنید <i class="fa fa-angle-left"></i></span></a>
				</div>
			</div>

			<!-- Cource Block -->
			<div class="cource-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="image">
						<a href="course-detail.html"><img src="images/resource/course-1.jpg" alt="" /></a>
					</div>
					<div class="lower-content">
						<div class="clearfix">
							<div class="pull-right">
								<h5><a href="course-detail.html">علوم کامپیوتر</a></h5>
							</div>
							<div class="pull-left">
								<div class="price">140 تومان</div>
							</div>
						</div>
						<div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله.</div>
						<div class="clearfix">
							<div class="pull-right">
								<div class="students">125 دانشجو</div>
							</div>
							<div class="pull-left">
								<a href="course-detail.html" class="enroll">اکنون ثبت نام کنید</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Cource Block -->
			<div class="cource-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="image">
						<a href="course-detail.html"><img src="images/resource/course-2.jpg" alt="" /></a>
					</div>
					<div class="lower-content">
						<div class="clearfix">
							<div class="pull-right">
								<h5><a href="course-detail.html">علوم داده</a></h5>
							</div>
							<div class="pull-left">
								<div class="price">140 تومان</div>
							</div>
						</div>
						<div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله.</div>
						<div class="clearfix">
							<div class="pull-right">
								<div class="students">125 دانشجو</div>
							</div>
							<div class="pull-left">
								<a href="course-detail.html" class="enroll">اکنون ثبت نام کنید</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Cource Block -->
			<div class="cource-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="image">
						<a href="course-detail.html"><img src="images/resource/course-3.jpg" alt="" /></a>
					</div>
					<div class="lower-content">
						<div class="clearfix">
							<div class="pull-right">
								<h5><a href="course-detail.html">دوره توسعه</a></h5>
							</div>
							<div class="pull-left">
								<div class="price">140 تومان</div>
							</div>
						</div>
						<div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله.</div>
						<div class="clearfix">
							<div class="pull-right">
								<div class="students">125 دانشجو</div>
							</div>
							<div class="pull-left">
								<a href="course-detail.html" class="enroll">اکنون ثبت نام کنید</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Cource Block -->
			<div class="cource-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="image">
						<a href="course-detail.html"><img src="images/resource/course-4.jpg" alt="" /></a>
					</div>
					<div class="lower-content">
						<div class="clearfix">
							<div class="pull-right">
								<h5><a href="course-detail.html">کلاس زبان</a></h5>
							</div>
							<div class="pull-left">
								<div class="price">140 تومان</div>
							</div>
						</div>
						<div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله.</div>
						<div class="clearfix">
							<div class="pull-right">
								<div class="students">125 دانشجو</div>
							</div>
							<div class="pull-left">
								<a href="course-detail.html" class="enroll">اکنون ثبت نام کنید</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Cource Block -->
			<div class="cource-block col-lg-4 col-md-6 col-sm-12">
				<div class="inner-box">
					<div class="image">
						<a href="course-detail.html"><img src="images/resource/course-5.jpg" alt="" /></a>
					</div>
					<div class="lower-content">
						<div class="clearfix">
							<div class="pull-right">
								<h5><a href="course-detail.html">دوره کسب و کار</a></h5>
							</div>
							<div class="pull-left">
								<div class="price">140 تومان</div>
							</div>
						</div>
						<div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله.</div>
						<div class="clearfix">
							<div class="pull-right">
								<div class="students">125 دانشجو</div>
							</div>
							<div class="pull-left">
								<a href="course-detail.html" class="enroll">اکنون ثبت نام کنید</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Courses Section -->
<!-- Call To Action Section -->
<section class="call-to-action-section">
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Title Column -->
			<div class="title-column col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column">
					<!-- Sec Title -->
					<div class="sec-title">
						<h2>تجربه را با سرعت خود <br> یاد بگیرید</h2>
						<div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله.</div>
					</div>
				</div>
			</div>

			<!-- Form Column -->
			<div class="form-column col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="help">برای کمک؟</div>
					<div class="search-box">
						<form method="post" action="contact.html">
							<div class="form-group">
								<input type="search" name="search-field" value="" placeholder="چه چیز را میخواهی یاد بگیری؟" required>
								<button type="submit"><span class="icon fa fa-search"></span></button>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Call To Action Section -->
<!-- Video Section -->
<section class="video-section" style="background-image: url(images/background/2.jpg)">
	<div class="auto-container">
		<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image video-box"><span class="fa fa-play"><i class="ripple"></i></span></a>
		<h4>تماشای فیلم ویدئویی</h4>
	</div>
</section>
<!-- End Video Section -->
<!-- Achievement Section -->
<section class="achievements-section">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<h2>دستاوردهای ما</h2>
			<div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</div>
		</div>

		<!-- Fact Counter -->
		<div class="fact-counter">
			<div class="row clearfix">

				<!-- Column -->
				<div class="column counter-column col-lg-4 col-md-6 col-sm-12">
					<div class="inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="content">
							<div class="icon-box">
								<span class="icon flaticon-course"></span>
							</div>
							<h4 class="counter-title">کل دوره ها</h4>
							<div class="count-outer count-box">
								<span class="count-text" data-speed="2000" data-stop="50">0</span>+
							</div>
						</div>
					</div>
				</div>

				<!-- Column -->
				<div class="column counter-column col-lg-4 col-md-6 col-sm-12">
					<div class="inner wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="content">
							<div class="icon-box">
								<span class="icon flaticon-course-1"></span>
							</div>
							<h4 class="counter-title">کل دانشجویان</h4>
							<div class="count-outer count-box alternate">
								<span class="count-text" data-speed="3000" data-stop="45">0</span>K+
							</div>
						</div>
					</div>
				</div>

				<!-- Column -->
				<div class="column counter-column col-lg-4 col-md-6 col-sm-12">
					<div class="inner wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="content">
							<div class="icon-box">
								<span class="icon flaticon-world"></span>
							</div>
							<h4 class="counter-title">موقعیت جهانی</h4>
							<div class="count-outer count-box">
								<span class="count-text" data-speed="4000" data-stop="115">0</span>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
</section>
<!-- End Achievement Section -->
<!-- Fluid Section One -->
<section class="fluid-section-one">
	<div class="patern-layer-one paroller" data-paroller-factor="0.60" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="vertical" style="background-image: url(images/icons/icon-1.png)"></div>
	<div class="outer-container clearfix">

		<!-- Image Column -->
		<div class="image-column" style="background-image:url(images/resource/image-1.jpg)">
			<figure class="image-box"><img src="images/resource/image-1.jpg" alt=""></figure>
		</div>

		<!-- Content Column -->
		<div class="content-column">
			<div class="inner-column">
				<div class="clearfix">
					<div class="pull-right">
						<h2>رویدادهای آینده</h2>
					</div>
					<div class="pull-left">
						<a href="course-detail.html" class="events">همه رویدادها</a>
					</div>
				</div>

				<!-- Blocks Outer -->
				<div class="blocks-outer">

					<!-- Event Block -->
					<div class="event-block">
						<div class="inner-box">
							<div class="clearfix">
								<!-- Event Date -->
								<div class="event-date clearfix"><span class="date">21</span>اسفند 1399</div>
								<!-- Event List -->
								<ul class="event-list">
									<li><a href="course-detail.html">طراحی و هنر</a></li>
									<li><a href="course-detail.html">رنگ آمیزی</a></li>
								</ul>
							</div>
							<h3><a href="course-detail.html">کارگاه آموزشی UI / UX</a></h3>
						</div>
					</div>

					<!-- Event Block -->
					<div class="event-block">
						<div class="inner-box">
							<div class="clearfix">
								<!-- Event Date -->
								<div class="event-date clearfix"><span class="date">15</span>اسفند 1399</div>
								<!-- Event List -->
								<ul class="event-list">
									<li><a href="course-detail.html">طراحی و هنر</a></li>
									<li><a href="course-detail.html">رنگ آمیزی</a></li>
								</ul>
							</div>
							<h3><a href="course-detail.html">آخر هفته هنر آمستردام</a></h3>
						</div>
					</div>

					<!-- Event Block -->
					<div class="event-block">
						<div class="inner-box">
							<div class="clearfix">
								<!-- Event Date -->
								<div class="event-date clearfix"><span class="date">21</span>اسفند 1399</div>
								<!-- Event List -->
								<ul class="event-list">
									<li><a href="course-detail.html">طراحی و هنر</a></li>
									<li><a href="course-detail.html">رنگ آمیزی</a></li>
								</ul>
							</div>
							<h3><a href="course-detail.html">مد خارج - نمایشگاه گروهی</a></h3>
						</div>
					</div>

				</div>

			</div>
		</div>

	</div>
</section>

<!-- News Section -->
<section class="news-section">
	<div class="auto-container">
		<div class="row clearfix">

			<!-- Title Column -->
			<div class="title-column col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column">
					<!-- Sec Title -->
					<div class="sec-title">
						<h2>آخرین ارسال های وبلاگ ما</h2>
						<div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</div>
					</div>
					<a href="course.html" class="theme-btn btn-style-three"><span class="txt">همه پست های وبلاگ <i class="fa fa-angle-left"></i></span></a>
				</div>
			</div>

			<!-- News Column -->
			<div class="news-block col-lg-6 col-md-12 col-sm-12">
				<div class="inner-box">
					<div class="image">
						<a href="blog-detail.html"><img src="images/resource/news-1.jpg" alt="" /></a>
					</div>
					<div class="lower-content">
						<h3><a href="blog-detail.html">برای اعمال نظریه تشخیص سیگنال</a></h3>
						<div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</div>
						<a href="blog-detail.html" class="read-more">ادامه مطلب</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End News Section -->
<!-- Testimonial Section -->
<section class="testimonial-section">
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<h2>نظر دانش آموزان و والدین</h2>
		</div>

		<!-- Authors Box -->
		<div class="authors-box">
			<div class="author-one"><img src="images/resource/author-2.jpg" alt="" /></div>
			<div class="author-two"><img src="images/resource/author-3.jpg" alt="" /></div>
			<div class="author-three"><img src="images/resource/author-4.jpg" alt="" /></div>
			<div class="author-four"><img src="images/resource/author-5.jpg" alt="" /></div>

			<div class="author-five"><img src="images/resource/author-6.jpg" alt="" /></div>
			<div class="author-six"><img src="images/resource/author-7.jpg" alt="" /></div>
			<div class="author-seven"><img src="images/resource/author-8.jpg" alt="" /></div>
			<div class="author-eight"><img src="images/resource/author-9.jpg" alt="" /></div>
		</div>

		<div class="single-item-carousel owl-carousel owl-theme">

			<!-- Testimonial Block Two -->
			<div class="testimonial-block">
				<div class="inner-box">
					<div class="image-box">
						<div class="quote-icon flaticon-quote-5"></div>
						<div class="image">
							<img src="images/resource/author-1.jpg" alt="" />
						</div>
					</div>
					<div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</div>
				</div>
			</div>

			<!-- Testimonial Block Two -->
			<div class="testimonial-block">
				<div class="inner-box">
					<div class="image-box">
						<div class="image">
							<img src="images/resource/author-5.jpg" alt="" />
						</div>
					</div>
					<div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</div>
				</div>
			</div>

			<!-- Testimonial Block Two -->
			<div class="testimonial-block">
				<div class="inner-box">
					<div class="image-box">
						<div class="image">
							<img src="images/resource/author-5.jpg" alt="" />
						</div>
					</div>
					<div class="text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</div>
				</div>
			</div>

		</div>

	</div>
</section>
<!-- End Testimonial Section -->
<!-- Call To Action Section Two -->
<!-- End Call To Action Section Two -->